* {
	font-family: "Carlito", "Century Gothic", "sans-serif";
}

div[title="accordion"] {
	margin: 13px 0;
}

div[title*="slide"] {
	height: 200px;
}

h3 {
	font-size: 110%;
	padding: .25em 0px .25em 25px;
	cursor: pointer;
	background: url(assets/img/slider/plus.png) no-repeat left center;
	background-color: #1f497d;
}

h3:hover {
	background-color: rgb(163, 163, 163);
	color: white;
}

h3.minus {
	background: url(assets/img/slider/minus.png) no-repeat left center;
}

div.tabs {
	width: 100px;
	text-align: center;
	padding: 10px 0px;
	border: 0;
	cursor: pointer;
	background-color: rgba(204, 204, 204, 0.3);
}

div.tabs.active {
	background-color: #1f497d;
	color: white;
}

div.tabs:hover,
div.tabs.active:hover {
	background-color: rgb(163, 163, 163);
	color: white;
}

div #tab2,
div #tab3,
div #tab4 {
	margin-left: 9px;
}

#tabTitle {
	font-size: 225%;
}

div[class*="tabContent"] {
	padding: 10px 10px;
	background-color: rgba(223, 223, 223, 0.438);
}

.tb {
	font-size: 175%;
}

#contactDes {
	font-size: 85%;
	color: gray;
}

div.info {
	color: gray;
	font-weight: lighter;
	background-image: url(assets/img/bg-contact.jpg);
	line-height: unset;
}

div.info p > span:nth-of-type(odd) {
	font-size: 125%;
}

div.info p > span:nth-of-type(even) {
	font-size: 450%;
}

form div span {
	position: relative;
	float: left;
}

form div span:nth-of-type(1),
form div span:nth-of-type(2),
form div span:nth-of-type(3),
form div span:nth-of-type(4) {
	width: 48%;
}

form div span:nth-of-type(even) {
	margin-left: 4%;
}

form div span:nth-last-of-type(1) {
	width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
	margin: 17px 0;
	width: 100%;
	border: 1px solid rgba(223, 223, 223, 0.486);
	padding: 13px 15px;
}

::placeholder {
	color: rgb(194, 192, 192);
	font-size: 85%;
}

form div div {
	float: left;
	display: flex;
	margin-left: 35%;
	margin-bottom: 110px;
	justify-content: center;
}

input[type="button"] {
	padding: 10px 25px;
	border: 0;
	cursor: pointer;
	background-color: rgb(248, 190, 29);
	color: white;
	font-weight: bold;
	font-size: 120%;
}

input[type="button"]:hover {
	color: white;
	background-color: rgb(22, 22, 22);
}

span>div.error,
#txtArea.error {
	position: absolute;
	/* display: inline; */
	right: 20px;
	top: 33px;
	color: #d82e2e;
	font-size: 75%;
	font-weight: bold
}